@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 15px;
    };
    @media (max-width: 510px) {
      font-size: 12px;
    };
    @media (max-width: 370px) {
      font-size: 10px;
    }
  }
}